@namespace Products.Components

<h2>Todolist</h2>

<input type="button" @onclick="CreateTodo" value="Add" />

@foreach (var t in TodoModel.Todos)
{
		<div>@t.Name</div>
}

@code {
	[Parameter] public ViewModels.TodoModel TodoModel {get; set;}

	private void CreateTodo()
	{
		Console.WriteLine("Hello from CreateTodo");
	}

	private void UpdateTodo()
	{}

	private void DeleteTodo()
	{}
}