@model TodoModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <div>
        <a href="/">start</a>
        <a href="/todos">todo</a>
    </div>

    @* <app></app> *@

    @* <component type="typeof(MainLayout)" render-mode="ServerPrerendered" param-TodoModel="Model"></component> *@
    <component type="typeof(App)" render-mode="ServerPrerendered" ></component>


</div>

@section Scripts
{
    @* <script src="js-app/js.app.start.js"></script> *@
}